.chatpage__cnt {
  margin-top: 0rem;
}

.chatpage__cnt-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.chatpage__cnt-topheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 56px;
  padding: 0px 16px;
}


.chatpage__cnt-topheader img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  cursor: pointer;
}

.chatpage__cnt-topheader input {
  width: 100%;
  background-color: #f5f5f7;
  border: .5px solid #9A9FBF15;
  width: 100%;
  border-radius: 9999px;
  padding: 10px 16px;
  font-family: inherit;
  font-size: 12px;
  outline: none;
}


.chatpage__cnt-topheader input::placeholder {
  color: #666;
}

.chatpage__cnt-topheader button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chatpage__cnt-allbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #0184fb;
}

.chatpage__cnt-allbuttonnotactive {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.chatpage__cnt-allbutton button {
  font-family: inherit;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  border: none;
}

.chatpage__cnt-allbuttonnotactive button {
  font-family: inherit;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.chatpage__cnt-chat {
  height: 90vh;
  padding: 16px 16px;
  overflow-y: scroll;
  padding-bottom: 8rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fff;
}

.chatpage__cnt-chatdif {
  background-color: #fff;
  padding: 0px 0px;
  padding-bottom: 4rem;
}

.chatpage__cnt-chat::-webkit-scrollbar {
  display: none;
}
