.chatpage__cnt {
  margin-top: 2.6rem;
}

.chatpage__cnt-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.chatpage__cnt-allbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #0184fb

}

.chatpage__cnt-allbuttonnotactive {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

.chatpage__cnt-allbutton button {
  font-family: inherit;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  border: none;
}

.chatpage__cnt-allbuttonnotactive button {
    font-family: inherit;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  border: none;
}
