.chatpage__cnt {
    margin-top: 2.6rem;
}

.chatpage__cnt-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}


.chatpage__cnt-allbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.chatpage__cnt-allbutton button {
    font-family: inherit;
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border: 3px solid #fff;

}

.chatpage__cnt-allbutton:hover button {
    border-bottom: 3px solid #0184fb;
}

.chatpage__cnt-orgbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chatpage__cnt-orgbutton button {
    font-family: inherit;
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border: 3px solid #fff;
    

}

.chatpage__cnt-orgbutton:hover button {
    border-bottom: 3px solid #0184fb;
}