.projecttaskpage__alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  margin: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px 4px 16px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.projecttaskpage__alert p {
  font-size: 11px;
  color: #7b7b7b;
}

.projecttaskpage__alert p span {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    padding: 0 5px 0 5px;
}

.projecttaskpage__alert div {
    cursor: pointer;
}

.projecttaskpage__cnt {
    margin-top: 3.5rem;
}

.projecttaskpage__nav {
    padding: 16px 16px;
}