.chatMessageBottom__cnt {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  background-color: #f2f9ff;
  display: flex;
  align-items: center;

  
}

.chatMessageBottom__cnt button {
    border: none;
    background-color: transparent;
    padding: 16px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    color:#0184fb;
}

.cmbc_look {
  width: 100%;
  display: grid;
  grid-template-columns: 30px auto;
  gap: 16px;
  padding: 16px 16px;
  align-items: center;
}

.chatMessageBottom__cnt-left {
  background-color: #0184fb;
  width: 30px !important;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.chatMessageBottom__cnt input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 13px;
  color: #9a9fbf;
  max-height: 100px;
  outline: none;
}

.chatMessageBottom__cnt input::placeholder {
  color: #9a9fbf;
}

.chatMessageBottom__cnt input:focus {
  color: #111;
}

.showmessagemenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;left: 0;
  bottom: 0;
  right: 0;
  z-index: 10003;
}

.showmessagemenuoverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10004;
}

.showmessagemenubody {
  position: absolute;
  background-color: #ffffff;
  right: 16px;
  top: 3rem;
  border-radius: 8px;
  z-index: 10005;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.showmessagemenu-item {
  padding: 16px 16px;
  cursor: pointer;
}

.showmessagemenu-item p {
  font-size: 12px;
  font-weight: 500;
  color: #000b23;
}