.chatMessageBottom__cnt {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  background-color: #f2f9ff;
}

.cmbc_look {
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto;
  gap: 16px;
  padding: 8px 16px;
  align-items: center;
}

.chatMessageBottom__cnt-left {
  background-color: #0184fb;
  width: 50px !important;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.chatMessageBottom__cnt textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 12px;
  color: #9a9fbf;
  max-height: 100px;
  outline: none;
}

.chatMessageBottom__cnt textarea::placeholder {
  color: #9a9fbf;
}

.chatMessageBottom__cnt textarea:focus {
  color: #111;
}
