.workspacepage__cnt {
  margin-top: 3rem;
}

.createworkspace__inputitem p {
  color: #000b23;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.createworkspace__inputitem input {
  width: 100%;
  border: 1px solid rgba(154, 159, 191, 0.15);
  height: 50px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  color: #9a9fbf;
  padding: 0 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
  outline: none;
}

.createworkspace__inputitem input::placeholder {
  color: #9a9fbf;
}

.createworkspace__inputitem input:focus {
  color: #000b23;
}

.createworkspace__inputitem textarea {
  width: 100%;
  border: 1px solid rgba(154, 159, 191, 0.15);
  height: 100px;
  font-family: inherit;
  padding: 16px 16px;
  font-size: 12px;
  font-weight: 400;
  color: #9a9fbf;
  outline: none;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.createworkspace__inputitem textarea::placeholder {
  color: #9a9fbf;
}

.createworkspace__inputitem textarea:focus {
  color: #000b23;
}

.createworkspace__inputitem button {
  height: 50px;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  color: #0184fb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.createworkspace__privacy-cnt {
  border: 1px solid rgba(154, 159, 191, 0.15);
  height: 50px;
  margin-bottom: 2rem;
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.workspacesearch input {
  width: 100%;
  border: 1px solid rgba(154, 159, 191, 0.15);
  height: 50px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  color: #9a9fbf;
  padding: 0 16px;
  border-radius: 8px;
  margin-bottom: 1rem;
  outline: none;
}

.workspacesearch input::placeholder {
  color: #9a9fbf;
}

.workspacesearch input:focus {
  color: #000b23;
}

.workspace__memberscnt {
  margin-bottom: 2rem;
}

.assignee__cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  cursor: pointer;
}

.assignee__left {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
  gap: 0.5rem;
}

.assignee__left img {
  width: 45px;
  height: 45px;
}

.assignee__left-name {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.assignee__left-position {

  font-size: 11px;
  font-weight: 400;
  color: #9a9fbf;
}

.round-checkbox {
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.round-checkbox {
  display: block;
  position: absolute;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  top: 6px;
  right: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom checkbox */
.round-checkbox .checkmark {
  position: absolute;
  top: 25px;
  right: 20px;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border: 2px solid #0FCE8F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.round-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark.checked:after {
  display: block;
}

/* Style the checkmark/indicator */
.round-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #0FCE8F;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.workspace__selected {
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  border: 3px solid rgb(236, 237, 241);
  background-color: #0184fb;
}

.workspace__selected-members {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 0px 16px 16px 16px;
  overflow-x: scroll;
  border-radius: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.workspace__selected-members::-webkit-scrollbar {
  display: none;
}

.workspace__selected-members img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}