/* Headerbar css */
.homepageHeader__cnt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  padding: 6px 16px;
  border-bottom: 1px solid #9a9fbf15;
}

.hompageHeader__cnt-left {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.hompageHeader__cnt-profile img {
  width: 45px;
  height: 45px;
}

.hphcwrgreet {
  font-size: 10px;
  color: #9a9fbf;
}

.hphcwrname {
  color: #000b23;
  font-size: 13px;
  font-weight: 700;
  margin-top: 0.2rem;
}

.homepageHeader__cnt-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.homepageHeader__cnt-right button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 0;
}

/* Progress Bar */

.svg-circle-bg {
  fill: none;
}

.svg-circle {
  fill: none;
}

.progress__container {
  border-radius: 9999px;
  display: flex;
  align-items: center;
}

/* HeaderWithButton */

.headerwithbutton__cnt {
  margin-top: 16px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerwithbutton__cnt-title {
  font-weight: 700;
  color: #000b23;
  font-size: 14px;
}

.headerwithbutton__cnt-viewall {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #9a9fbf;
  font-weight: 500;
}

/* Homepage task card */

.homepageTaskCard__cnt {
  border-radius: 8px;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.2rem;
}

.homepageTaskCard__cnt-workspaceName {
  font-size: 10px;
  color: #7b7b7b;
  font-weight: 500;
  letter-spacing: -0.005em;
}

.homepageTaskCard__cnt-taskTitle {
  font-size: 12px;
  font-weight: 600;
  color: #000b23;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.homepageTaskCard__cnt-progress {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 1rem;
  width: 100%;
}

.homepageTaskCard__cnt-progress p {
  font-size: 10px;
  font-weight: 700;
  color: #000b23;
}

.hptccpbar {
  background-color: #fff;
  width: 100%;
  height: 6px;
  border-radius: 9999px;
}

.hptccpbarstrength {
  height: 6px;
  border-radius: 9999px;
}

/* chat card homepage */
.chatCardHomepage__cnt {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;

  padding-bottom: 32px;
}

.chatCardHomepage__cnt-left {
  position: relative;
  display: flex;
  flex-direction: column;
}

.chatCardHomepage__cnt-left img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.chatCardHomepage__cnt-leftuserstatus {
  width: 13px;
  height: 13px;
  background-color: #27ae60;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.chatCardHomepage__cnt-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}

.chatCardHomepage__cnt-righttop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatCardHomepage__cnt-righttopusername {
  font-size: 12px;
  font-weight: 600;
  color: #000b23;
}

.chatCardHomepage__cnt-righttimeandstatus {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.chatCardHomepage__cnt-righttimeandstatus p {
  font-size: 10px;
  color: #9a9fbf;
}

.chatCardHomepage__cnt-rightbottom {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  color: #9a9fbf;
}

/* Bottom nav */
.bottomnav__cnt {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  border-top: 0.944073px solid rgba(154, 159, 191, 0.15);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 12px 0;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #9a9fbf15;
}

.bottomnav__cnt-item {
  display: grid;
  align-items: center;
}

.bottomnav__cnt-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.bottomnav__cnt-itemadd {
  position: fixed;
  /* background:  linear-gradient(94.38deg, #0184FB 14.99%, #46BDF0 92.22%);  */
  background-color: #0184fb;
  width: 60px;
  height: 60px;
  margin: 5px;
  justify-self: center;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3.5rem;
  bottom: 4.5rem;
  right: 16px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Header bar */
.headerBar__cnt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  padding: 10px 16px;
  border-bottom: 1px solid #9a9fbf15;
}

.headerBar__cnt-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.headerBar__cnt-left p {
  font-weight: 700;
  font-size: 16px;
  color: #000b23;
}

.headerBar__cnt-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerBar__cnt button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Title Card */

.titlecard__cnt {
  background: linear-gradient(
    90deg,
    rgba(1, 132, 251, 0.1) 0%,
    rgba(217, 217, 217, 0) 104.21%
  );
  padding: 10px 16px;
}

.titlecard__cnt p {
  color: #0184fb;
  font-size: 12px;
  font-weight: 600;
}

/* Accordion */

.accordionlayout__cnt-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  cursor: pointer;
}

.accordionlayout__cnt-top p {
  font-size: 13px;
  font-weight: 700;
}

.accordionlayout__cnt-bottom {
  background-color: #9a9fbf15;
  padding: 10px 16px;
}

/* Workspace Task list */
.workspaceTasklist__cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  cursor: pointer;
}

.workspaceTasklist__cnt p {
  font-size: 12px;
  font-weight: 600;
  color: #9a9fbf;
}

.workspaceTasklist__cnt-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.workspaceTasklist__cnt-right p {
  font-size: 12px;
  color: #000b23;
  font-weight: 600;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: #ffffff;

  height: auto;
  pointer-events: all;
  overflow: auto;
}

.modal__cnt-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 10px 16px;
  border-bottom: 1px solid #9a9fbf15;
}

.modal__cnt-top p {
  font-size: 13px;
  font-weight: 700;
}

.modal__cnt-top button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__cnt-bottom {
  margin-top: 3.7rem;
  padding: 16px 16px;
}

/* big button */
.bigButton_cnt {
  width: 100%;
  border-radius: 8px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border: none;
  background-color: #0184fb;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

/* Link cards */
.linkCards__cnt {
  padding: 20px 16px;
  cursor: pointer;
}

.linkCards__cnt p {
  font-size: 13px;
  font-weight: 700;
}

/* Task list Card */
.taskListCard__cnt {
  /* border: 1px solid #9a9fbf15; */
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: #f6f9fc8c;
}

.taskListCard__cnt-top {
  padding: 8px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.tlctlprojectname {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 10px;
  font-weight: 600;
  color: #9a9fbf;
  margin-bottom: 0.2rem;
}

.tlctltasktitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  color: #000b23;
}

p.tlctltaskdescription {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
  color: #000b23;
}

.taskliscarddes__cnt {
  padding: 16px 16px;
}

.taskimage__image_cnt {
  display: flex;
  position: relative;
}

.taskimage__image_cnt img {
  width: 30px;
  height: 30px;
}
.taskimage0 {
  position: absolute;
  right: 50px;
  z-index: 1;
}
.taskimage1 {
  position: absolute;
  right: 25px;
  z-index: 2;
}

.taskimage__members-num {
  border: 1px solid rgba(154, 159, 191, 0.15);
  width: max-content;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 9999px;
}

.taskimage__image-remaining {
  right: 0px;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #0184fb;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  z-index: 3;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.taskListCard__cnt-bottom {
  padding: 8px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  align-items: center;
}

.tlccbltaskdate {
  font-size: 10px;
  font-weight: 500;
  color: #0184fb;
}

.tlccblpriority {
  font-size: 10px;
  font-weight: 500;
  color: #9a9fbf;
}

.tlccblpriority span {
  color: #27ae60;
  margin-left: 0.5rem;
}

.tlccblbutton {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* groups card */
.groupsCard__cnt {
  cursor: pointer;
  border: 1px solid rgba(154, 159, 191, 0.15);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.groupsCard__cnt-top {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}

.groupsCard__cnt-topleft {
  display: flex;
  align-items: center;
}

.groupsCard__cnt-topgroupname {
  font-weight: 600;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.groupsCard__cnt-topgroupmembers {
  font-size: 11px;
  color: #9a9fbf;
  border: 1px solid rgba(154, 159, 191, 0.15);
  padding: 5px 10px;
  border-radius: 9999px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letseeamlike {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* Chat message modal */

.chatmessagemodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  height: auto;
  pointer-events: all;
  overflow: auto;
}

.chatmessagemodal__cnt-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border-bottom: 1px solid #9a9fbf15;
}

.chatmessagemodal__cnt-topleft {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.chatmessagemodal__cnt-topleftprofile {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.cmmctlp_image-cnt {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cmmctlp_image-cnt img {
  width: 40px;
  height: 40px;
}

.cmmctlp_image-cntstatus {
  height: 10px;
  width: 10px;
  background-color: #27ae60;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 9999px;
}

.chatmessagemodal__cnt-top p {
  font-size: 13px;
  font-weight: 700;
}

.chatmessagemodal__cnt-topright {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chatmessagemodal__cnt-top button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chatmessagemodal__cnt-bottom {
  position: relative;
  margin-top: 3.7rem;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  
  height: 85vh;
}

/* Left Chat */
.leftChatcnt {
  padding: 8px 0;
}
.leftChat__cnt {
  background-color: #fff;
  min-width: 10vw;
  width: max-content;
  max-width: 80vw;
  padding: 16px 16px;
  border-radius: 20px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #9a9fbf15;
}

.leftChat__cnt p {
  font-size: 13px;
  color: #000b23;
  font-weight: 400;
}

.leftChat__cnt-delivery {
  display: flex;
  gap: 0.4rem;
  margin-top: .5rem;
  align-items: center;
}

.leftChat__cnt-delivery p {
  color: #9a9fbf;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 0rem !important;
}


/* Right Chat */

.rightChatcnt {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end
}

.rightChat__cnt {
  min-width: 10vw;
  width: max-content;
  max-width: 80vw;
  padding: 16px 16px;
  border-radius: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #0184fb;
  margin-top: 8px;
}

.rightChat__cnt p {
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}

.rightChat__cnt-delivery {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin-top: .5rem;
}

.rightChat__cnt-delivery p {
  color: #9a9fbf;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 0rem !important;
}