.taskpage__cnt {
  margin-top: 3.4rem;
  margin-bottom: 3.5rem;
}

.taskpage__cnt-search {
  padding: 16px 16px 0px 16px;
}
.taskpage__cnt-search input {
  width: 100%;
  border: none;
  height: 40px;
  padding: 16px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  color: #9a9fbf;
  border-radius: 8px;
  outline: none;
  border-radius: 8px;

  border: 1px solid rgba(154, 159, 191, 0.15);
}

.taskpage__cnt-search input::placeholder {
  color: #9a9fbf;
}

.taskpage__cnt-search input:focus {
  color: #000b23;
}

.taskpage__cnt-taskprojects {
  display: grid;
  grid-template-columns: 50px 100px 150px 150px;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 16px 16px 16px 16px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.taskpage__cnt-taskprojects::-webkit-scrollbar {
  display: none;
}

.taskpage__cnt-taskprojectsbtn {
  height: 40px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  background-color: #f6f9fc;
  border-radius: 8px;
  color: #0184fb;
  cursor: pointer;
  white-space: no-wrap;
}
.taskpage__cnt-taskprojectsactive {
  background-color: #0184fb;
  color: #ffff;
  height: 40px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}

.taskpage__cnt-tasklist {
  padding: 16px;
}

.addtaskcategory {
  display: flex;
  gap: .5rem;
}

.addtaskcategoryitems {
  padding: 6px 8px;
  border: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
}


.btna {
  color:#0184fb;
  background-color: #0182fb15;
}

.btnb {
  color: #27ae60;
  background-color: #27ae6015;
}

.btnc {
  color: #9b62fa;
  background-color: #9b62fa15;
}