.taskpage__cnt {
  margin-top: 3.4rem;
  padding: 16px;
}

.taskpage__cnt-search input {
  width: 100%;
  border: none;
  height: 50px;
  padding: 16px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  color: #9a9fbf;
  border-radius: 8px;
  outline: none;
  border-radius: 8px;
  border: 1px solid rgba(154, 159, 191, 0.15);
}

.taskpage__cnt-search input::placeholder {
  color: #9a9fbf;
}

.taskpage__cnt-search input:focus {
  color: #000b23;
}

.taskpage__cnt-taskprojects {
  display: grid;
  grid-template-columns: 50px 100px 150px 150px;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 16px 0px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.taskpage__cnt-taskprojects::-webkit-scrollbar {
  display: none;
}

.taskpage__cnt-taskprojectsbtn {
  height: 40px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  background-color: #f6f9fc;
  border-radius: 8px;
  color: #0184fb;
  cursor: pointer;
  white-space: no-wrap;
}
.taskpage__cnt-taskprojectsactive {
  background-color: #0184fb;
  color: #ffff;
  height: 40px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}


.taskimage__image_cnt {
  display: flex;
  position: relative;
}

.taskimage__image_cnt img {
  width: 45px;
  height: 45px;
}

.taskimage1 {
  position: absolute;
  left: 25px;
  z-index: 1;
}

.taskimage2 {
  position: absolute;
  left: 50px;
  z-index: 2;
}



.taskimage__members-num {
  border: 1px solid rgba(154, 159, 191, 0.15);
  width: max-content;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 9999px;

}



.taskimage__image-remaining {
  left: 50px;
  position: absolute;
  width: 45px;
  height: 45px;
  background-color: #0184fb;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  z-index: 3;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}