.hompagetaskoverview__cnt {
  margin-top: 5rem;
  margin-bottom: 32px;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 8px;
  padding: 16px 16px;
  background-color: #0184fb;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hompagetaskoverview__cnt-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.hompagetaskoverview__cnt-left p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.hompagetaskoverview__cnt-left button {
  color: #0184fb;
  cursor: pointer;
  border: none;
  font-size: 12px;
  font-family: inherit;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 20px;
}

.hompagetask__cnt {
  display: grid;
  grid-template-columns: repeat(2, 249px);
  width: 100%;
  grid-gap: 16px;
  padding: 16px 16px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hompagetask__cnt::-webkit-scrollbar {
  display: none;
}

.homepagethechat__cnt {
  border-top: 1px solid rgba(154, 159, 191, 0.1);
  margin-top: 20px;
  padding: 32px 16px 0px 16px;
  background-color:  rgba(154, 159, 191, 0.05);
}


