.homepagewies {
  height: 95vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.homepagewies::-webkit-scrollbar {
  display: none;
}

.hompagetaskoverview__cnt {
  margin-top: 4rem;
  margin-bottom: 32px;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 8px;
  padding: 16px 16px;
  background-color: #0184fb;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hompagetaskoverview__cnt-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.hompagetaskoverview__cnt-left p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.hompagetaskoverview__cnt-left button {
  color: #0184fb;
  cursor: pointer;
  border: none;
  font-size: 12px;
  font-family: inherit;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 20px;
}

.hompagetask__cnt {
  display: grid;
  grid-template-columns: repeat(2, 249px);
  width: 100%;
  grid-gap: 16px;
  padding: 16px 16px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hompagetask__cnt::-webkit-scrollbar {
  display: none;
}

.homepagethechat__cnt {
  margin-bottom: 4rem;
  /* border-top: 1px solid rgba(154, 159, 191, 0.1); */
  margin-top: 20px;
  padding: 32px 16px 0px 16px;
  background-color: rgba(154, 159, 191, 0.05);
}

.homepageaddmodal {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10003;
  height: 100%;
}

.homepageaddmodal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10004;
  height: 100%;
}

.homepageaddmodal__content {
  position: fixed;
  left: 16px;
  right:16px;
  bottom: 16px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 10005;
  border-radius: 20px;
  -webkit-animation-name: bottomnavslideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: bottomnavslideIn;
  animation-duration: 0.4s;
}


.homepageaddmodal__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 16px 10px 16px;
  border-bottom: 0.1px solid #9a9fbf15;
}

.homepageaddmodal__title {
  grid-column: 2 / 4;
  text-align: center;
  justify-self: center;
  font-size: 14px;
  font-weight: 700;
}

.homepageaddmodal__close {
  grid-column: 4;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.homepageaddmodal__bottom {
  display: grid;
  padding: 16px;
  gap: 16px;
  padding-bottom: 42px;
}

.homepageaddmodal__bottom button {
  height: 50px;
  border-radius: 9999px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
}

.homepageaddmodal__newwork {
  background-color: #0184fb;
  color: #fff;
}


@-webkit-keyframes bottomnavslideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes bottomnavslideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
